<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add a Car</title>
</head>
<body>
	<form action="add" method="post">
	<table>
		<tr>
			<td>ID:</td>
			<td><input type="text" name="ID" /> </td>
		</tr>
		<tr>
			<td>Code:</td>
			<td><input type="text" name="code" /> </td>
		</tr>
		<tr>
			<td>title:</td>
			<td><input type="text" name="title" /> </td>
		</tr>
		<tr>
			<td>description:</td>
			<td><input type="text" name="description" /> </td>
		</tr>
                <tr>
			<td>prerequisites:</td>
			<td><input type="text" name="prerequisites" /> </td>
		</tr>
                
                <tr>
			<td>instructor:</td>
			<td><input type="text" name="instructor" /> </td>
		</tr>
                
	</table>
	<input type="submit"/>
	
	</form>
</body>
</html>